body {
    background-image: url(./imgs/graffiti-gea4e5ae53_1920.jpg);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0px;
}

.topContainer {
    flex: 1;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: space-between;
}

.menubar {
    width: 160px;
    height: 100%;
    background-color: yellow;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualContent {
    height: 60vh;
    width: 60vw;
    background-color: green;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

#grid {
    flex: 1;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actualGrid {
    background-color: blue;
    width: 45vh;
    height: 45vh;
}

#selections {
    min-height: 100%;
    width: 250px;
    background-color: black;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
  }
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#sliderValue {
    color: rgb(177, 177, 177);
    width: 100%;
    height: 40px;
    text-align: center;
}