body {
    background-image: url(./imgs/graffiti-gea4e5ae53_1920.jpg);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0px;
}

.topContainer {
    flex: 1;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: space-between;
}

.menubar {
    width: 160px;
    height: 100%;
    background-color: yellow;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualContent {
    height: 60vh;
    width: 60vw;
    background-color: green;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

#grid {
    flex: 1;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actualGrid {
    background-color: blue;
    width: 45vh;
    height: 45vh;
}

#selections {
    min-height: 100%;
    width: 200px;
    background-color: black;
    margin-left: auto;
}